body{
    font-size: 1.1em;
    height: 100%;
    padding-bottom:50px;
}

p{
    padding:0px;
    margin:0px;
}

a , a:hover{
    color:#000000;
    text-decoration: none;
}

img{
    width:100%;
}
.text-gray , a.text-gray{
    color: #999999;
}

.container{
    padding:0px;
}
.input-group{
    z-index: 0;
}

.font-md{
    font-size: 1.2em;
}

.bg-dark{
    background-color: #f2f2f2;
}

.no-padding{
    padding:0px;
}
.no-margin{
    margin:0px;
}

.p-a{
    padding:10px;
}

.p-t-m{
    padding-top:10px;
}

.p-l-m{
    padding-left:10px;
}

.p-r-m{
    padding-right:10px;
}

.p-b-m{
    padding-bottom:10px;
}

.m-a{
    margin:10px;
}

.m-t-m{
    margin-top:10px;
}

.m-l-m{
    margin-left: 10px;
}

.m-r-m{
    margin-right:10px;
}
.m-b-m{
    margin-bottom:10px;
}

.m-t-l{
    margin-top:20px;
}

.m-l-l{
    margin-left: 20px;
}

.m-r-l{
    margin-right:20px;
}
.m-b-l{
    margin-bottom:20px;
}

.banner{
    width:100%;
}

.child-page{
    padding:0px;
}

.child-page .panel{
    border:0px;
    -webkit-box-shadow:  0px 0px 4px #f2f2f2;
    -moz-box-shadow: 0px 0px 4px #f2f2f2;
    box-shadow:  0px 0px 4px #f2f2f2;
}
.child-page .panel-heading{
    background-color: #f2f2f2;

}

.home-icons{
    display: inline-block;
    padding:0px 10px 10px;
    font-size: 1.2em;
}

.panel{
    border:0px;
    -webkit-box-shadow:0px 0px 6px #e2e2e2;
    -moz-box-shadow:0px 0px 6px #e2e2e2;
    box-shadow:0px 0px 6px #e2e2e2;
}
.nav-box{
    position: relative;
}

.avatar{
    width:45px;
    height:45px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.bottom-nav{
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin: auto;
    padding:8px;
    max-width: 729px;
    background-color: #ffffff;
    -webkit-box-shadow:0px 0px 6px #e2e2e2;
    -moz-box-shadow:0px 0px 6px #e2e2e2;
    box-shadow:0px 0px 6px #e2e2e2;
}
.bottom-nav .icon-nav{
    display: block;
    font-size:1.2em;
}


ul.user-list{
    margin:0px;
    padding:0px;
    list-style: none;
}

ul.user-list li a , ul.user-list li .span-li{
    display: block;
    padding:15px 0px;
    border-bottom:1px solid #f2f2f2;
}
ul.user-list li .span-li{
    padding:5px 0px;
}
ul.user-list li:first-child a , ul.user-list li:first-child .span-li{
    padding-top:0px;
}
ul.user-list li:last-child a , ul.user-list li:last-child .span-li{
    border:0px;
}
ul.user-list li .span-li label{
    line-height:35px;
}

.no-border-form{
    border:0px;
    -webkit-box-shadow:     none;
    -moz-box-shadow:     none;
    box-shadow:     none;
}

input.no-border-form:focus{
    outline: none;
    border:0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:  none;
    box-shadow: none;
}
.nav-tabs{
    border-bottom:0px;
}
.nav-tabs > li{
    width:50%;
    text-align: center;
}

.nav-tabs > li > a{
    border-bottom: 1px solid transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border:0px;
    border-bottom: 1px solid  #999;
}